@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --light: white;
  --dark: black;
}

html::-moz-selection {
  //   background-color: var(--green);
  //   color: black;
}

html::selection {
  //   background-color: var(--green);
  //   color: black;
}

#body {
  background-color: var(--dark);
  overflow-x: hidden !important;
  width: 100vw;
  position: relative;

  &::-webkit-scrollbar {
    width: 1rem;
    height: 0;
    max-width: 8px;
    background-color: var(--dark);
  }

  &::-webkit-scrollbar-thumb {
    border: 0.5px groove var(--dark);
    border-radius: 500px;
    background-color: #ffffff;
  }
}

#main {
  overflow-x: hidden;
}

@font-face {
  font-family: a;
  src: url("ethnocentric rg.otf");
}

img {
  user-select: none;
}

#preloader {
  display: flex;
  height: 100vh;
  background: var(--light);
  align-items: center;
  justify-content: center;
  z-index: 5000;
  position: fixed;
  overflow-y: hidden;
  span {
    font-size: 5rem;
    background: linear-gradient(89.99deg, #243afa -2.26%, #ff4308 102.14%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

.text_verticle {
  rotate: 180deg;
  writing-mode: tb-rl;
  cursor: context-menu;
  font-size: 116px;
}

#heroSection {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  #heroOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    background-color: #ffffff;
  }
  #hero_cursor {
    background-color: transparent;
    color: white;
    display: none;
    padding: 6px 19px;
    position: absolute;
    opacity: 0;
    z-index: 6;
    transition: opacity 1s;
  }
  #nameLayer {
    position: relative;
    top: 10%;
    .name {
      font-size: 11vmin;
      position: absolute;
      // font-family: "Zen Dots", cursive;
      font-family: a, cursive;
      width: 100vw;
      text-align: center;
      display: block;
    }
    #name_up {
      color: transparent;
      -webkit-text-stroke: 0.35px #ffffff;
      z-index: 3;
    }
    #name_down {
      color: white;
      z-index: 1;
    }
  }
  #harshang {
    position: fixed;
    z-index: 2;
    bottom: 0;
    height: 83vmin;
    min-height: 360px;
    cursor: url(images/ITSME.svg), auto;
    left: 50%;
    transform: translateX(-50%);
  }
  #arrow {
    position: fixed;
    bottom: 13%;
    left: 7vmin;
    height: 13vmin;
  }
  .profession {
    overflow: hidden;
    height: 25px;
    color: white;
    top: 50%;
    font-size: 17px;
    position: relative;
    margin-left: 10vw;
    flex-direction: column;
    span {
      position: absolute;
      height: 25px;
      transform: translateY(100%);
    }
    span:nth-of-type(1) {
      top: 0%;
      transform: translateY(0%);
    }
  }
  .custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 118px;
      transform: rotateY(180deg);
    }
    .shape-fill {
      fill: #ffffff;
    }
  }
}

#skillSection {
  background: var(--light);
  min-height: 95vh;
  position: relative;
  overflow: hidden;
  z-index: 2;
  #skillSliderWrapper {
    position: relative;
    transform-origin: right;
    width: 100vw;
    #skillSlider {
      height: 45px;
      display: flex;
      gap: 4.5vmin;
      position: absolute;
      z-index: -1;
      // animation: slide 8s linear infinite;
    }
  }
}
#skillMain {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  #skillBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    .skill {
      border: 2px solid black;
      border-radius: 6px;
      padding: 5px 25px;
      margin: 5px 7px;
      font-weight: 500;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        position: absolute;
        height: 2.5rem;
        opacity: 0;
        scale: 0;
        left: 0;
        transition: transform 0.2s, scale 0.1s, opacity 0.1s;
      }
    }
  }
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translatex(-100%);
  }
}

#projectSection {
  min-height: 100vh;
  background: var(--dark);
  color: var(--light);
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  #ProjectSwiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      position: relative;
      // background-color: #3a1a03 !important;
      // background: linear-gradient(90deg, #3a1a03, #140901);
      // background-color: #0a082b !important;
      // background: linear-gradient(90deg, #0a082b, #030210);
      // background-color: #282828 !important;
      // background: linear-gradient(90deg, #050505, #282828);
      width: 300px;
      user-select: none;
      height: 320px;
      img {
        display: block;
        width: 100%;
        &.phone_img {
          width: auto;
        }
      }
      .project-info {
        padding: 25px 10px;
        display: flex;
        flex-direction: column;
        gap: 7px;
        .tags {
          .tag {
            font-size: 12px;
            padding: 2px 9px;
            border-radius: 3px;
          }
        }
        p {
          font-size: 0.9rem;
          line-height: 1.35;
        }
      }
    }
  }
}
