@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
* {
  margin: 0;
  padding: 0;
}

:root {
  --light: white;
  --dark: black;
}

#body {
  background-color: var(--dark);
  overflow-x: hidden !important;
  width: 100vw;
  position: relative;
}
#body::-webkit-scrollbar {
  width: 1rem;
  height: 0;
  max-width: 8px;
  background-color: var(--dark);
}
#body::-webkit-scrollbar-thumb {
  border: 0.5px groove var(--dark);
  border-radius: 500px;
  background-color: #ffffff;
}

#main {
  overflow-x: hidden;
}

@font-face {
  font-family: a;
  src: url("ethnocentric rg.otf");
}
img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#preloader {
  display: flex;
  height: 100vh;
  background: var(--light);
  align-items: center;
  justify-content: center;
  z-index: 5000;
  position: fixed;
  overflow-y: hidden;
}
#preloader span {
  font-size: 5rem;
  background: linear-gradient(89.99deg, #243afa -2.26%, #ff4308 102.14%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text_verticle {
  rotate: 180deg;
  writing-mode: tb-rl;
  cursor: context-menu;
  font-size: 116px;
}

#heroSection {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
#heroSection #heroOverlay {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  background-color: #ffffff;
}
#heroSection #hero_cursor {
  background-color: transparent;
  color: white;
  display: none;
  padding: 6px 19px;
  position: absolute;
  opacity: 0;
  z-index: 6;
  transition: opacity 1s;
}
#heroSection #nameLayer {
  position: relative;
  top: 10%;
}
#heroSection #nameLayer .name {
  font-size: 11vmin;
  position: absolute;
  font-family: a, cursive;
  width: 100vw;
  text-align: center;
  display: block;
}
#heroSection #nameLayer #name_up {
  color: transparent;
  -webkit-text-stroke: 0.35px #ffffff;
  z-index: 3;
}
#heroSection #nameLayer #name_down {
  color: white;
  z-index: 1;
}
#heroSection #harshang {
  position: absolute;
  z-index: 2;
  bottom: 0;
  height: 83vmin;
  min-height: 360px;
  cursor: url(images/ITSME.svg), auto;
  left: 50%;
  transform: translateX(-50%);
}
#heroSection #arrow {
  position: fixed;
  bottom: 13%;
  left: 7vmin;
  height: 13vmin;
}
#heroSection .profession {
  overflow: hidden;
  height: 25px;
  color: white;
  top: 50%;
  font-size: 17px;
  position: relative;
  margin-left: 10vw;
  flex-direction: column;
}
#heroSection .profession span {
  position: absolute;
  height: 25px;
  transform: translateY(100%);
}
#heroSection .profession span:nth-of-type(1) {
  top: 0%;
  transform: translateY(0%);
}
#heroSection .custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
#heroSection .custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 118px;
  transform: rotateY(180deg);
}
#heroSection .custom-shape-divider-bottom .shape-fill {
  fill: #ffffff;
}

#skillSection {
  background: var(--light);
  min-height: 95vh;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
#skillSection #skillSliderWrapper {
  position: relative;
  transform-origin: right;
  width: 100vw;
}
#skillSection #skillSliderWrapper #skillSlider {
  height: 45px;
  display: flex;
  gap: 4.5vmin;
  position: absolute;
  z-index: -1;
  width: 100%;
  justify-content: center;
}
#skillSection #skillSliderWrapper #skillSlider > h1 {
  position: absolute;
  font-weight: 600;
  font-size: 45px;
}
#skillSection #skillSliderWrapper #skillSlider h1:nth-of-type(1) {
  -webkit-text-stroke: 1px #000000;
  color: transparent;
}
#skillSection #skillSliderWrapper #skillSlider h1:nth-of-type(2) {
  transform: translate(-2%, -4%);
}

#skillMain {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
}
#skillMain #skillBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#skillMain #skillBoard .skill {
  border: 2px solid black;
  border-radius: 6px;
  padding: 5px 25px;
  margin: 5px 7px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#skillMain #skillBoard .skill img {
  position: absolute;
  height: 2.5rem;
  opacity: 0;
  scale: 0;
  left: 0;
  transition: transform 0.2s, scale 0.1s, opacity 0.1s;
}

#projectSection {
  min-height: 100vh;
  background: var(--dark);
  color: var(--light);
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#projectSection #projectHeadings {
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
#projectSection #projectHeadings > h1 {
  position: absolute;
  font-weight: 700;
  text-align: center;
  font-size: 45px;
}
#projectSection #projectHeadings h1:nth-of-type(1) {
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
}
#projectSection #projectHeadings h1:nth-of-type(2) {
  transform: translate(-2%, -4%);
}
#projectSection #ProjectSwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
#projectSection #ProjectSwiper .swiper-slide {
  background-position: center;
  background-size: cover;
  position: relative;
  width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 320px;
}
#projectSection #ProjectSwiper .swiper-slide img {
  display: block;
  width: 100%;
}
#projectSection #ProjectSwiper .swiper-slide img.phone_img {
  width: auto;
}
#projectSection #ProjectSwiper .swiper-slide .project-info {
  padding: 25px 10px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
#projectSection #ProjectSwiper .swiper-slide .project-info .tags .tag {
  font-size: 12px;
  padding: 2px 9px;
  border-radius: 3px;
}
#projectSection #ProjectSwiper .swiper-slide .project-info p {
  font-size: 0.9rem;
  line-height: 1.35;
}

#contactSection {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
}
#contactSection #contact_box {
  width: 90%;
  padding: 80px 0px;
  max-width: 700px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px) saturate(122%);
  -webkit-backdrop-filter: blur(6px) saturate(122%);
  background-color: rgba(6, 17, 38, 0.69);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
#contactSection #contact_box form {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 480px;
  gap: 30px;
}
#contactSection #contact_box form button[type=button] {
  width: -moz-max-content;
  width: max-content;
}
#contactSection #contact_box form .field {
  color: #ffffff;
  display: flex;
  row-gap: 10px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  flex-direction: row;
}
#contactSection #contact_box form .field label {
  text-wrap: nowrap;
}
#contactSection #contact_box form .field textarea {
  resize: none;
}
#contactSection #contact_box form .field input,
#contactSection #contact_box form .field textarea {
  background: rgba(0, 0, 0, 0.1803921569);
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 5px 5px 0px 0px;
  color: white;
  width: 100%;
  padding: 6px 15px;
}
#contactSection #contact_box form .field input:focus,
#contactSection #contact_box form .field textarea:focus {
  background: rgba(0, 0, 0, 0.1803921569);
  outline: 0;
  border: 0;
  color: white;
  border-bottom: 1px solid white;
}
@media (max-width: 650px) {
  #contactSection #contact_box form .field .field {
    flex-direction: column;
  }
}

#forScroll_wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#whiteBlob {
  max-height: 290px;
  position: absolute;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */